@model hello_asp.Models.HelloModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h4>HelloModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>

        <div>@Model.Name さん、こんにちは！</div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

